In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('trade.csv')
df.exports = pd.to_numeric(df.exports).astype(float)
df.imports = pd.to_numeric(df.imports).astype(float)

df['year_month'] = df.apply(lambda row: f'{row.year}-{row.month}', axis=1)
df['balance_of_trade'] = df.apply(lambda row: row.exports - row.imports, axis=1)
df['total_trade'] = df.apply(lambda row: row.exports + row.imports, axis=1)
df.set_index('year_month')

     year month  exports   imports year_month  balance_of_trade  total_trade
0    1991   Jan   635.57    950.41   1991-Jan           -314.84      1585.98
1    1991   Feb   662.65   1094.81   1991-Feb           -432.16      1757.46
2    1991   Mar   742.13   1076.87   1991-Mar           -334.74      1819.00
3    1991   Apr   709.70    896.52   1991-Apr           -186.82      1606.22
4    1991   May   688.51    983.15   1991-May           -294.64      1671.66
..    ...   ...      ...       ...        ...               ...          ...
398  2024   Mar  6223.32   9572.80   2024-Mar          -3349.48     15796.12
399  2024   Apr  6288.30  11017.02   2024-Apr          -4728.72     17305.32
400  2024   May  6330.92  11063.88   2024-May          -4732.96     17394.80
401  2024   Jun  5567.36   9890.82   2024-Jun          -4323.46     15458.18
402  2024   Jul  6248.93  11117.80   2024-Jul          -4868.87     17366.73

[403 rows x 7 columns]